In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
PATH = "../../Datasets/"

Open the dataset per day

In [5]:
dfDay = pd.read_csv(PATH + "Day.csv")
dfDay["Time"] = pd.to_datetime(dfDay["Time"])

We will just use the samples from December 12th to January 6th

In [20]:
dfHolidays = dfDay[((dfDay["Time"].dt.month == 12) & (dfDay["Time"].dt.day >= 12)) | ((dfDay["Time"].dt.month == 1) & (dfDay["Time"].dt.day <= 6))]

In [21]:
for d in dfHolidays["Time"].unique():
    print(d.date())

2015-12-12
2015-12-13
2015-12-14
2015-12-15
2015-12-16
2015-12-17
2015-12-18
2015-12-19
2015-12-20
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-25
2015-12-26
2015-12-27
2015-12-28
2015-12-29
2015-12-30
2015-12-31
2016-01-01
2016-01-02
2016-01-03
2016-01-04
2016-01-05
2016-01-06
2016-12-12
2016-12-13
2016-12-14
2016-12-15
2016-12-16
2016-12-17
2016-12-18
2016-12-19
2016-12-20
2016-12-21
2016-12-22
2016-12-23
2016-12-24
2016-12-25
2016-12-26
2016-12-27
2016-12-28
2016-12-29
2016-12-30
2016-12-31
2017-01-01
2017-01-02
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-16
2017-12-17
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-23
2017-12-24
2017-12-25
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2017-12-30
2017-12-31
2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30
2018-12-31
2019-01-01
2019-01-02
2019-01-03
2019-01-04
2019-01-05
2019-01-06
2019-12-12
2019-12-13
2019-12-14
2019-12-15
2019-12-16
2019-12-17
2019-12-18
2019-12-19
2019-12-20
2019-12-21
2019-12-22
2019-12-23
2019-12-24
2019-12-25
2019-12-26
2019-12-27
2019-12-28
2019-12-29
2019-12-30
2019-12-31
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-12-12
2020-12-13
2020-12-14
2020-12-15
2020-12-16
2020-12-17
2020-12-18
2020-12-19
2020-12-20
2020-12-21
2020-12-22
2020-12-23
2020-12-24
2020-12-25
2020-12-26
2020-12-27
2020-12-28
2020-12-29
2020-12-30
2020-12-31
2021-01-01
2021-01-02
2021-01-03
2021-01-04
2021-01-05
2021-01-06
2021-12-12
2021-12-13
2021-12-14
2021-12-15
2021-12-16
2021-12-17
2021-12-18
2021-12-19
2021-12-20
2021-12-21
2021-12-22
2021-12-23
2021-12-24
2021-12-25
2021-12-26
2021-12-27
2021-12-28
2021-12-29
2021-12-30
2021-12-31
2022-01-01
2022-01-02
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-12-12
2022-12-13
2022-12-14
2022-12-15
2022-12-16
2022-12-17
2022-12-18
2022-12-19
2022-12-20
2022-12-21
2022-12-22
2022-12-23
2022-12-24
2022-12-25
2022-12-26
2022-12-27
2022-12-28
2022-12-29
2022-12-30
2022-12-31
2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-12-12
2023-12-13
2023-12-14
2023-12-15
2023-12-16
2023-12-17
2023-12-18
2023-12-19
2023-12-20
2023-12-21
2023-12-22
2023-12-23
2023-12-24
2023-12-25
2023-12-26
2023-12-27
2023-12-28
2023-12-29
2023-12-30
2023-12-31
2024-01-01
2024-01-02
2024-01-03
2024-01-04
2024-01-05
2024-01-06
2024-12-12
2024-12-13
2024-12-14
2024-12-15
2024-12-16
2024-12-17
2024-12-18
2024-12-19
2024-12-20
2024-12-21
2024-12-22
2024-12-23
2024-12-24
2024-12-25
2024-12-26
2024-12-27
2024-12-28
2024-12-29
2024-12-30
2025-01-01
2025-01-02
2025-01-03
2025-01-04
2025-01-05
2025-01-06

In [22]:
dfHolidays.head()

,Time,O3_flag,SO2_flag,NO2_flag,NO_flag,CO_flag,PM10_flag,PM2.5_flag,WDir_Avg,Rain_Tot,WDir_SD,O3,SO2,NO2,NO,CO,PM10,PM2.5,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,Press_Avg,Rad_Avg
133,2015-12-12,OK,BDL,OK,BDL,OK,OK,OK,184.0,0.0,14.633308,26.578040,0.090375,3.584044,0.422794,0.484406,16.999472,12.505837,16.226500,71.200583,2.211408,NaN,803.708333,152.335903
134,2015-12-13,OK,BDL,OK,BDL,OK,OK,BDL,200.0,5.5,13.522187,18.169847,-0.067333,2.581931,0.476542,0.449069,5.206549,3.205486,14.964972,74.466938,2.167250,NaN,804.208333,153.137639
135,2015-12-14,OK,BDL,OK,BDL,OK,OK,OK,156.0,0.0,14.152771,19.063264,-0.299035,2.215868,0.151667,0.466104,5.994694,3.573076,13.694283,75.840042,1.670621,NaN,805.166667,218.674514
136,2015-12-15,OK,BDL,OK,BDL,OK,OK,OK,146.0,0.0,12.672623,21.334736,-0.235396,2.015646,0.633313,0.515750,8.255219,5.113354,14.467742,73.714590,2.086732,NaN,805.458333,224.452222
137,2015-12-16,OK,BDL,OK,BDL,OK,OK,OK,162.0,0.0,13.601066,17.470945,0.036345,5.599611,1.900104,0.541411,9.049562,5.194388,15.044051,69.829333,1.795034,NaN,805.958333,224.471181

Exploration

In [23]:
dfHolidays.shape

(259, 24)

In [24]:
dfHolidays["PM2.5_flag"].value_counts()

PM2.5_flag
OS     178
OK      78
BDL      2
Name: count, dtype: int64

In [25]:
dfHolidays["PM10_flag"].value_counts()

PM10_flag
OK     191
OS      64
BDL      3
Name: count, dtype: int64

In [26]:
dfHolidays[["PM2.5", "PM2.5_flag", "PM10_flag", "PM10"]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 259 entries, 133 to 3431
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PM2.5       81 non-null     float64
 1   PM2.5_flag  258 non-null    object
 2   PM10_flag   258 non-null    object
 3   PM10        201 non-null    float64
dtypes: float64(2), object(2)
memory usage: 10.1+ KB