# 2.1 Perform a sampling in such a way that you obtain 30 samples of each variable.

To obtain the 30 samples of each variable more efficiently, I propose creating 30 subsets of the dataset we have been working on. This way, we only need to perform the sampling process 30 times, but we get samples of each variable at once.

I propose the following 30 samplings:
- 3 samples of 10 instances
- 3 samples of 100 instances
- 3 samples of 1,000 instances
- 3 samples of 10,000 instances
- 3 samples of 100,000 instances
- 3 samples with 10 instances from each day of the year
- 3 samples with 100 instances from each day of the year
- 3 samples with 1,000 instances from each day of the year
- 3 samples with 10,000 instances from each day of the year
- 3 samples with 1,000 instances, but only when it was raining

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PATH = "../../../DataCleaning/"

In [3]:
df = pd.read_csv(PATH + "Atmospheric Data With No Missing Values.csv")

In [4]:
df.head()

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
0,55.48,OK,0.72,OK,0.2,BDL,0.25,OK,25.47,OK,...,173.6,14.26,0.0,805.409,NaN,2023,5,1,0,0
1,55.49,OK,0.81,OK,0.2,BDL,0.26,OK,25.74,OK,...,171.0,10.53,0.0,805.524,NaN,2023,5,1,0,1
2,55.40,OK,0.93,OK,0.2,BDL,0.27,OK,26.60,OK,...,178.6,15.72,0.0,805.436,NaN,2023,5,1,0,2
3,55.20,OK,0.87,OK,0.2,BDL,0.28,OK,27.59,OK,...,186.1,17.43,0.0,805.450,NaN,2023,5,1,0,3
4,55.41,OK,0.98,OK,0.2,BDL,0.28,OK,27.83,OK,...,211.5,21.67,0.0,805.504,NaN,2023,5,1,0,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443508 entries, 0 to 443507
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   O3          443508 non-null  float64
 1   O3_flag     443508 non-null  object
 2   NO2         443508 non-null  float64
 3   NO2_flag    443508 non-null  object
 4   NO          443508 non-null  float64
 5   NO_flag     443508 non-null  object
 6   CO          443508 non-null  float64
 7   CO_flag     443508 non-null  object
 8   PM10        443508 non-null  float64
 9   PM10_flag   443508 non-null  object
 10  PM2.5       443508 non-null  float64
 11  PM2.5_flag  443508 non-null  object
 12  Temp_Avg    443508 non-null  float64
 13  RH_Avg      443508 non-null  float64
 14  WSpeed_Avg  443508 non-null  float64
 15  WSpeed_Max  443508 non-null  float64
 16  WDir_Avg    443508 non-null  float64
 17  WDir_SD     443508 non-null  float64
 18  Rain_Tot    443508 non-null  float64
 19  Press_Avg   443508 non-null  float64
 20  Rad_Avg     232948 non-null  float64
 21  Year        443508 non-null  int64
 22  Month       443508 non-null  int64
 23  Day         443508 non-null  int64
 24  Hour        443508 non-null  int64
 25  Minute      443508 non-null  int64
dtypes: float64(15), int64(5), object(6)
memory usage: 88.0+ MB

### 3 random samples of 10 instances

In [6]:
df_subset1 = df.sample(n=10)
df_subset2 = df.sample(n=10)
df_subset3 = df.sample(n=10)

In [7]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
104009,32.97,OK,3.71,OK,0.69,OK,0.18,OK,2.00,BDL,...,278.70,13.080,0.0,807.027,258.9,2023,7,24,15,29
229658,28.70,OK,3.83,OK,1.33,OK,0.31,OK,30.90,OK,...,55.36,10.200,0.0,806.315,988.0,2023,10,27,11,5
178133,31.22,OK,3.77,OK,0.20,BDL,0.32,OK,26.72,OK,...,278.00,8.500,0.0,803.764,NaN,2023,9,19,19,20
149432,18.06,OK,7.71,OK,0.20,BDL,0.56,OK,55.07,OK,...,0.00,0.000,0.0,804.486,NaN,2023,8,28,19,57
176108,36.51,OK,4.81,OK,1.75,OK,0.29,OK,27.91,OK,...,75.48,5.492,0.0,808.186,830.0,2023,9,18,9,35
223195,11.00,OK,2.33,OK,0.20,BDL,0.25,OK,23.12,OK,...,254.90,9.320,0.0,804.724,NaN,2023,10,22,23,22
95488,55.80,OK,5.08,OK,0.20,BDL,0.04,OK,31.96,OK,...,21.10,22.430,0.0,806.058,215.7,2023,7,18,17,25
302629,30.63,OK,0.97,OK,0.20,BDL,0.21,OK,9.88,OK,...,147.40,23.790,0.0,803.792,119.9,2023,12,27,17,37
248873,5.06,OK,18.70,OK,1.73,OK,0.69,OK,32.65,OK,...,15.45,2.849,0.0,805.894,NaN,2023,11,11,20,20
280297,10.03,OK,2.37,OK,0.20,BDL,0.25,OK,2.00,BDL,...,240.10,1.342,0.0,806.447,NaN,2023,12,12,5,25

In [8]:
df_subset1.to_csv("RandomSample10_1.csv", index=False)
df_subset1.to_csv("RandomSample10_2.csv", index=False)
df_subset1.to_csv("RandomSample10_3.csv", index=False)

### 3 random samples of 100 instances

In [14]:
df_subset1 = df.sample(n=100)
df_subset2 = df.sample(n=100)
df_subset3 = df.sample(n=100)

In [15]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
211382,27.51,OK,6.03,OK,0.2,BDL,0.31,OK,16.81,OK,...,90.7,0.444,0.0,805.351,0.83,2023,10,14,18,29
349252,9.41,OK,4.22,OK,0.2,BDL,0.45,OK,11.82,OK,...,0.0,0.000,0.0,805.247,NaN,2024,2,2,6,3
105727,12.65,OK,17.56,OK,0.2,BDL,0.62,OK,19.08,OK,...,138.8,18.660,0.0,808.716,NaN,2023,7,25,20,7
243650,15.38,OK,5.00,OK,0.2,BDL,0.38,OK,15.82,OK,...,0.0,0.000,0.0,805.969,NaN,2023,11,8,5,17
440816,33.95,OK,2.54,OK,0.2,BDL,0.58,OK,49.83,OK,...,0.0,0.000,0.0,804.084,NaN,2024,4,27,6,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403908,44.34,OK,0.80,OK,0.2,BDL,0.26,OK,59.98,OK,...,196.7,18.720,0.0,805.667,904.00,2024,4,1,14,58
323362,16.25,OK,2.74,OK,0.2,BDL,0.10,OK,17.67,OK,...,111.1,4.542,0.0,804.744,NaN,2024,1,12,4,9
441256,60.18,OK,1.32,OK,0.2,BDL,0.36,OK,29.79,OK,...,328.9,16.440,0.0,802.849,1171.00,2024,4,27,13,29
373555,23.64,OK,4.59,OK,0.2,BDL,0.57,OK,13.88,OK,...,0.0,0.000,0.0,807.410,NaN,2024,2,19,3,7
315733,8.54,OK,12.23,OK,0.2,BDL,0.42,OK,2.00,BDL,...,346.7,0.492,0.0,804.805,NaN,2024,1,6,21,0

In [16]:
df_subset1.to_csv("RandomSample100_1.csv", index=False)
df_subset2.to_csv("RandomSample100_2.csv", index=False)
df_subset3.to_csv("RandomSample100_3.csv", index=False)

### 3 random samples of 1,000 instances

In [17]:
df_subset1 = df.sample(n=1000)
df_subset2 = df.sample(n=1000)
df_subset3 = df.sample(n=1000)

In [18]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
347686,19.82,OK,8.82,OK,0.20,BDL,0.52,OK,31.40,OK,...,0.00,0.000,0.0,806.635,NaN,2024,2,1,3,57
96281,19.77,OK,2.58,OK,0.20,BDL,0.09,OK,7.62,OK,...,0.00,0.000,0.0,809.407,33.61,2023,7,19,6,38
301773,22.89,OK,0.97,OK,0.20,BDL,0.22,OK,5.15,OK,...,0.00,0.000,0.0,804.534,NaN,2023,12,27,3,21
93767,41.00,OK,2.48,OK,0.20,BDL,0.04,OK,35.81,OK,...,314.50,15.970,0.0,808.231,89.10,2023,7,17,12,44
361955,28.54,OK,2.98,OK,0.20,BDL,0.49,OK,31.38,OK,...,353.20,9.610,0.0,803.554,NaN,2024,2,11,1,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277167,6.02,OK,8.04,OK,0.20,BDL,0.31,OK,12.57,OK,...,0.00,0.000,0.0,807.247,NaN,2023,12,10,1,14
168518,5.49,OK,8.28,OK,0.46,OK,0.41,OK,24.61,OK,...,0.00,0.000,0.0,806.791,NaN,2023,9,13,3,5
304969,24.79,OK,4.02,OK,1.08,OK,0.48,OK,17.03,OK,...,202.00,34.130,0.0,807.107,268.20,2023,12,29,8,37
277875,41.09,OK,5.82,OK,0.98,OK,0.39,OK,20.85,OK,...,59.08,23.680,0.0,806.132,527.40,2023,12,10,13,2
51293,28.83,OK,4.27,OK,0.20,BDL,0.34,OK,39.79,OK,...,94.00,5.334,0.0,805.078,NaN,2023,6,16,3,50

In [19]:
df_subset1.to_csv("RandomSample1000_1.csv", index=False)
df_subset2.to_csv("RandomSample1000_2.csv", index=False)
df_subset3.to_csv("RandomSample1000_3.csv", index=False)

### 3 random samples of 10,000 instances

In [20]:
df_subset1 = df.sample(n=10_000)
df_subset2 = df.sample(n=10_000)
df_subset3 = df.sample(n=10_000)

In [21]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
425656,49.03,OK,1.48,OK,0.20,BDL,0.23,OK,33.63,OK,...,167.2,34.420,0.0,802.098,361.5,2024,4,16,17,28
251188,15.64,OK,7.96,OK,4.17,OK,0.52,OK,24.48,OK,...,117.0,7.760,0.0,808.934,205.5,2023,11,13,10,55
17450,33.33,OK,4.41,OK,0.20,BDL,0.38,OK,18.30,OK,...,176.3,7.157,0.0,806.760,NaN,2023,5,17,1,48
192462,57.99,OK,1.52,OK,0.20,BDL,0.20,OK,33.63,OK,...,193.0,12.190,0.0,803.927,438.5,2023,10,1,15,9
441750,52.64,OK,0.64,OK,0.20,BDL,0.36,OK,29.21,OK,...,220.2,10.440,0.0,804.288,NaN,2024,4,27,21,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220993,27.97,OK,1.93,OK,0.47,OK,0.25,OK,12.49,OK,...,21.6,10.190,0.0,806.057,802.0,2023,10,21,10,40
314858,16.66,OK,1.80,OK,0.20,BDL,0.27,OK,5.59,OK,...,197.0,9.210,0.0,804.147,NaN,2024,1,6,6,25
43196,60.85,OK,1.56,OK,0.20,BDL,0.26,OK,34.98,OK,...,240.7,22.630,0.0,804.768,1082.0,2023,6,10,12,53
54001,25.19,OK,3.69,OK,0.20,BDL,0.38,OK,45.55,OK,...,0.0,0.000,0.0,805.816,NaN,2023,6,18,0,59
357578,23.64,OK,11.90,OK,0.20,BDL,0.82,OK,36.38,OK,...,263.6,2.289,0.0,805.730,NaN,2024,2,8,0,50

In [23]:
df_subset1.to_csv("RandomSample10000_1.csv", index=False)
df_subset2.to_csv("RandomSample10000_2.csv", index=False)
df_subset3.to_csv("RandomSample10000_3.csv", index=False)

### 3 random samples of 100_000 instances

In [24]:
df_subset1 = df.sample(n=100_000)
df_subset2 = df.sample(n=100_000)
df_subset3 = df.sample(n=100_000)

In [25]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
353041,24.56,OK,10.81,OK,0.20,BDL,0.50,OK,27.66,OK,...,340.3,5.220,0.0,803.479,NaN,2024,2,4,21,12
332942,28.28,OK,8.39,OK,0.20,BDL,0.36,OK,21.76,OK,...,223.5,3.447,0.0,807.601,NaN,2024,1,18,21,11
54290,12.70,OK,7.20,OK,0.20,BDL,0.48,OK,40.45,OK,...,0.0,0.000,0.0,805.816,NaN,2023,6,18,5,48
291210,41.00,OK,10.67,OK,0.20,BDL,0.40,OK,22.81,OK,...,0.0,0.000,0.0,804.479,NaN,2023,12,19,19,18
43967,24.12,OK,7.52,OK,0.20,BDL,0.32,OK,29.06,OK,...,0.0,0.000,0.0,804.935,NaN,2023,6,11,1,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316797,22.46,OK,0.59,OK,0.20,BDL,0.29,OK,4.40,OK,...,164.5,17.320,0.0,803.935,144.600,2024,1,7,14,44
209223,1.31,OK,2.81,OK,5.19,OK,0.26,OK,11.88,OK,...,0.0,0.000,0.0,803.880,0.277,2023,10,13,6,30
401257,47.46,OK,0.70,OK,0.20,BDL,0.19,OK,23.50,OK,...,202.8,18.560,0.0,807.223,NaN,2024,3,12,22,48
342284,14.62,OK,12.76,OK,10.39,OK,1.04,OK,72.19,OK,...,0.0,0.000,0.0,807.356,337.900,2024,1,25,8,56
239136,25.47,OK,5.46,OK,0.20,BDL,0.21,OK,12.86,OK,...,258.2,0.462,0.0,807.546,NaN,2023,11,5,2,3

In [26]:
df_subset1.to_csv("RandomSample100000_1.csv", index=False)
df_subset2.to_csv("RandomSample100000_2.csv", index=False)
df_subset3.to_csv("RandomSample100000_3.csv", index=False)

### 3 samples with 10 instances from each day of the year

In [47]:
def everyday_samples(n:int):
    df_subset1, df_subset2, df_subset3 = pd.DataFrame(), pd.DataFrame(), pd.DataFrame()

    for m in range(1, 13):
        if m == 2: day = 30
        elif m == 4 or m == 6 or m == 9 or m == 11: day = 31
        else: day = 32
        for d in range(1, day):
            df_subset = df[(df["Month"] == m) & (df["Day"] == d)]
            if df_subset.shape[0] == 0: continue
            try:
                df_subset1 = pd.concat([df_subset1, df_subset.sample(n=n)], axis=0)
                df_subset2 = pd.concat([df_subset2, df_subset.sample(n=n)], axis=0)
                df_subset3 = pd.concat([df_subset3, df_subset.sample(n=n)], axis=0)
            except:
                df_subset1 = pd.concat([df_subset1, df_subset.sample(n=n, replace=True)], axis=0)
                df_subset2 = pd.concat([df_subset2, df_subset.sample(n=n, replace=True)], axis=0)
                df_subset3 = pd.concat([df_subset3, df_subset.sample(n=n, replace=True)], axis=0)

    return df_subset1, df_subset2, df_subset3

In [48]:
df_subset1, df_subset2, df_subset3 = everyday_samples(10)

In [49]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
308235,41.98,OK,1.14,OK,0.20,BDL,0.26,OK,4.89,OK,...,248.00,22.120,0.0,806.346,198.00,2024,1,1,16,2
308295,40.57,OK,1.33,OK,0.20,BDL,0.25,OK,22.28,OK,...,216.80,16.520,0.0,806.206,210.30,2024,1,1,17,2
308523,24.14,OK,6.16,OK,0.20,BDL,0.32,OK,20.16,OK,...,0.00,0.000,0.0,807.764,NaN,2024,1,1,20,50
307871,27.13,OK,2.72,OK,0.98,OK,0.40,OK,15.46,OK,...,11.44,14.060,0.0,810.032,575.30,2024,1,1,9,58
308402,36.22,OK,2.47,OK,0.20,BDL,0.27,OK,8.65,OK,...,158.50,0.020,0.0,807.036,NaN,2024,1,1,18,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306778,36.82,OK,1.03,OK,0.20,BDL,0.26,OK,14.34,OK,...,142.40,39.680,0.0,806.481,645.80,2023,12,30,14,46
306363,6.58,OK,9.58,OK,3.75,OK,0.77,OK,17.08,OK,...,0.00,0.000,0.0,808.985,65.47,2023,12,30,7,51
306823,36.98,OK,1.18,OK,0.20,BDL,0.25,OK,8.19,OK,...,154.10,21.970,0.0,805.938,655.50,2023,12,30,15,31
306112,11.11,OK,7.03,OK,0.20,BDL,0.35,OK,21.53,OK,...,98.70,0.539,0.0,807.585,NaN,2023,12,30,3,40
306719,37.66,OK,1.53,OK,0.20,BDL,0.28,OK,7.50,OK,...,150.50,13.790,0.0,807.045,181.00,2023,12,30,13,47

*Note:* some days have no instances

In [50]:
df_subset1.to_csv("EverydaySamples10_1.csv", index=False)
df_subset2.to_csv("EverydaySamples10_2.csv", index=False)
df_subset3.to_csv("EverydaySamples10_3.csv", index=False)

### 3 samples with 100 instances from each day of the year

In [51]:
df_subset1, df_subset2, df_subset3 = everyday_samples(100)

In [52]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
307653,16.29,OK,2.33,OK,0.20,BDL,0.35,OK,9.74,OK,...,0.00,0.000,0.0,808.928,NaN,2024,1,1,6,20
307851,24.57,OK,2.24,OK,0.62,OK,0.44,OK,19.66,OK,...,0.00,0.000,0.0,810.019,501.0,2024,1,1,9,38
307681,18.58,OK,1.39,OK,0.20,BDL,0.31,OK,25.90,OK,...,0.00,0.000,0.0,808.980,NaN,2024,1,1,6,48
307858,25.79,OK,2.12,OK,0.46,OK,0.41,OK,20.53,OK,...,323.40,2.665,0.0,810.060,528.9,2024,1,1,9,45
308037,53.56,OK,2.79,OK,0.20,BDL,0.37,OK,25.88,OK,...,86.40,3.601,0.0,808.379,878.0,2024,1,1,12,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305933,14.63,OK,9.09,OK,0.20,BDL,0.39,OK,6.85,OK,...,52.14,7.762,0.0,807.444,NaN,2023,12,30,0,41
306262,8.75,OK,7.35,OK,0.20,BDL,0.45,OK,14.11,OK,...,0.00,0.000,0.0,808.214,NaN,2023,12,30,6,10
307171,16.06,OK,12.91,OK,0.20,BDL,0.43,OK,19.53,OK,...,0.00,0.000,0.0,808.199,NaN,2023,12,30,21,19
307064,36.81,OK,1.63,OK,0.20,BDL,0.24,OK,14.63,OK,...,136.30,30.480,0.0,807.254,NaN,2023,12,30,19,32
306626,43.48,OK,13.50,OK,4.29,OK,0.62,OK,42.23,OK,...,55.29,21.140,0.0,808.685,650.1,2023,12,30,12,14

In [53]:
df_subset1.to_csv("EverydaySamples100_1.csv", index=False)
df_subset2.to_csv("EverydaySamples100_2.csv", index=False)
df_subset3.to_csv("EverydaySamples100_3.csv", index=False)

### 3 samples with 1,000 instances from each day of the year

In [54]:
df_subset1, df_subset2, df_subset3 = everyday_samples(1_000)

In [55]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
308122,50.43,OK,2.04,OK,0.20,BDL,0.30,OK,12.96,OK,...,273.9,17.400,0.0,807.155,848.0,2024,1,1,14,9
307546,13.42,OK,3.11,OK,0.20,BDL,0.38,OK,16.05,OK,...,105.4,0.290,0.0,808.157,NaN,2024,1,1,4,33
307353,13.00,OK,9.83,OK,1.16,OK,0.48,OK,27.09,OK,...,230.7,6.829,0.0,808.424,NaN,2024,1,1,1,20
308473,36.39,OK,1.58,OK,0.20,BDL,0.25,OK,20.93,OK,...,171.2,5.536,0.0,807.335,NaN,2024,1,1,20,0
308145,46.45,OK,1.72,OK,0.20,BDL,0.30,OK,5.58,OK,...,135.2,25.100,0.0,806.949,778.3,2024,1,1,14,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306053,12.05,OK,7.59,OK,0.20,BDL,0.47,OK,18.82,OK,...,0.0,0.000,0.0,807.592,NaN,2023,12,30,2,41
306936,36.05,OK,1.21,OK,0.20,BDL,0.27,OK,14.58,OK,...,196.1,24.650,0.0,806.240,172.5,2023,12,30,17,24
306277,8.66,OK,6.79,OK,0.20,BDL,0.60,OK,10.07,OK,...,0.0,0.000,0.0,808.297,NaN,2023,12,30,6,25
306211,9.50,OK,6.43,OK,0.20,BDL,0.37,OK,21.91,OK,...,8.6,0.010,0.0,807.917,NaN,2023,12,30,5,19
306601,38.95,OK,18.25,OK,6.64,OK,0.75,OK,39.24,OK,...,107.1,10.600,0.0,809.127,859.0,2023,12,30,11,49

In [56]:
df_subset1.to_csv("EverydaySamples1000_1.csv", index=False)
df_subset2.to_csv("EverydaySamples1000_2.csv", index=False)
df_subset3.to_csv("EverydaySamples1000_3.csv", index=False)

### 3 samples with 10,000 instances from each day of the year

In [57]:
df_subset1, df_subset2, df_subset3 = everyday_samples(10_000)

In [58]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
307599,13.09,OK,2.37,OK,0.20,BDL,0.34,OK,21.05,OK,...,0.00,0.000,0.0,808.432,NaN,2024,1,1,5,26
308532,31.11,OK,5.45,OK,0.20,BDL,0.31,OK,19.41,OK,...,40.62,0.186,0.0,807.948,NaN,2024,1,1,20,59
308128,49.29,OK,1.98,OK,0.20,BDL,0.30,OK,10.16,OK,...,36.40,5.796,0.0,807.077,871.0,2024,1,1,14,15
307306,18.95,OK,3.26,OK,0.20,BDL,0.32,OK,22.18,OK,...,135.30,0.735,0.0,808.444,NaN,2024,1,1,0,33
308391,39.97,OK,1.35,OK,0.20,BDL,0.26,OK,8.90,OK,...,40.17,0.202,0.0,807.097,NaN,2024,1,1,18,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306502,21.70,OK,14.18,OK,9.72,OK,0.65,OK,27.73,OK,...,24.68,9.820,0.0,809.842,603.8,2023,12,30,10,10
306572,33.80,OK,13.63,OK,6.03,OK,0.65,OK,33.13,OK,...,51.64,21.620,0.0,809.386,809.0,2023,12,30,11,20
305896,21.00,OK,3.07,OK,0.20,BDL,0.36,OK,10.10,OK,...,0.00,0.000,0.0,807.247,NaN,2023,12,30,0,4
306237,7.76,OK,7.09,OK,0.20,BDL,0.40,OK,14.29,OK,...,0.00,0.000,0.0,808.074,NaN,2023,12,30,5,45
306633,43.08,OK,13.25,OK,4.05,OK,0.63,OK,47.39,OK,...,108.40,9.270,0.0,808.508,752.1,2023,12,30,12,21

In [59]:
df_subset1.to_csv("EverydaySamples10000_1.csv", index=False)
df_subset2.to_csv("EverydaySamples10000_2.csv", index=False)
df_subset3.to_csv("EverydaySamples10000_3.csv", index=False)

### 3 samples with 1,000 instances, but only when it was raining

In [69]:
df[df["Rain_Tot"] != 0]

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
6864,58.57,OK,2.52,OK,0.2,BDL,0.43,OK,56.16,OK,...,130.8,11.080,0.1,804.448,21.90,2023,5,5,18,24
6866,55.25,OK,3.49,OK,0.2,BDL,0.50,OK,56.42,OK,...,117.0,5.394,0.1,804.476,20.05,2023,5,5,18,26
12073,52.40,OK,1.73,OK,0.2,BDL,0.39,OK,54.61,OK,...,212.6,4.440,0.1,808.004,243.90,2023,5,9,9,13
12074,52.22,OK,1.58,OK,0.2,BDL,0.37,OK,53.70,OK,...,201.6,11.430,0.1,807.902,207.40,2023,5,9,9,14
12075,52.49,OK,1.52,OK,0.2,BDL,0.37,OK,52.68,OK,...,219.8,13.010,0.1,808.045,185.40,2023,5,9,9,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433265,36.05,OK,3.79,OK,0.2,BDL,0.36,OK,61.88,OK,...,277.9,2.461,0.1,805.701,NaN,2024,4,22,0,17
434327,53.11,OK,3.00,OK,0.2,BDL,0.38,OK,46.28,OK,...,87.2,16.160,0.1,804.321,92.00,2024,4,22,18,0
434328,53.76,OK,2.62,OK,0.2,BDL,0.35,OK,47.59,OK,...,142.3,12.960,0.1,804.389,92.90,2024,4,22,18,1
434330,51.05,OK,3.86,OK,0.2,BDL,0.40,OK,50.79,OK,...,182.0,8.330,0.2,804.314,126.00,2024,4,22,18,3
434332,50.08,OK,3.65,OK,0.2,BDL,0.40,OK,54.12,OK,...,174.7,4.084,0.1,804.002,118.20,2024,4,22,18,5

In [70]:
df_subset1 = df[df["Rain_Tot"] != 0].sample(1000)
df_subset2 = df[df["Rain_Tot"] != 0].sample(1000)
df_subset3 = df[df["Rain_Tot"] != 0].sample(1000)

In [71]:
df_subset1

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
38055,45.63,OK,2.17,OK,0.20,BDL,0.34,OK,33.93,OK,...,133.00,3.789,0.2,806.390,NaN,2023,6,6,23,12
110937,41.59,OK,0.76,OK,0.20,BDL,0.30,OK,24.43,OK,...,249.30,14.410,0.1,808.360,NaN,2023,8,1,23,56
285427,26.04,OK,9.08,OK,0.20,BDL,0.50,OK,39.94,OK,...,252.30,2.435,0.2,805.084,0.230,2023,12,15,18,55
75759,56.07,OK,2.76,OK,0.20,BDL,0.11,OK,10.63,OK,...,110.30,25.450,0.1,809.019,NaN,2023,7,5,0,36
156900,33.53,OK,1.60,OK,0.20,BDL,0.22,OK,13.39,OK,...,8.94,0.014,0.1,805.914,NaN,2023,9,5,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129500,36.00,OK,0.53,OK,0.20,BDL,0.20,OK,10.08,OK,...,234.10,6.988,0.1,807.802,NaN,2023,8,14,23,45
116466,35.26,OK,2.80,OK,0.20,BDL,0.35,OK,17.20,OK,...,89.90,11.640,0.3,807.985,NaN,2023,8,5,20,6
68376,53.75,OK,1.48,OK,0.20,BDL,0.22,OK,19.27,OK,...,19.71,16.610,0.1,807.110,NaN,2023,6,28,0,34
101008,50.38,OK,2.33,OK,0.20,BDL,0.05,OK,25.60,OK,...,230.70,11.420,0.1,806.090,157.900,2023,7,22,13,28
125163,47.90,OK,22.85,OK,23.04,OK,0.31,OK,2.00,BDL,...,49.36,5.906,0.1,809.582,1.383,2023,8,11,23,28

In [72]:
df_subset1.to_csv("RainingSamples1.csv", index=False)
df_subset2.to_csv("RainingSamples2.csv", index=False)
df_subset3.to_csv("RainingSamples3.csv", index=False)

These are our 30 samples. Each one has samples of every variable