In [1]:
import pandas as pd

In [2]:
PATH = "../../DataCleaning/"

In [3]:
df = pd.read_csv(PATH + "Atmospheric Data Cleaned Instances Per Day.csv")

In [4]:
df.head()

,Year,Month,Day,O3,NO2,NO,CO,PM10,PM2.5,Temp_Avg,RH_Avg,WSpeed_Avg,WDir_Avg,Press_Avg,Rad_Avg,Rain_Tot
0,2023,5,1,42.098597,2.377042,0.378701,0.269903,32.476493,20.131194,19.830514,29.753889,2.439608,154.966895,804.314569,630.264466,0.0
1,2023,5,2,44.560389,1.889646,0.215486,0.244556,28.960708,18.765649,20.916111,27.642535,2.883990,231.153622,803.925649,659.373538,0.0
2,2023,5,3,50.777618,4.491722,0.745514,0.397743,49.597222,35.021854,21.357729,30.954847,1.604234,178.251752,803.767500,485.725435,0.0
3,2023,5,4,50.881806,4.101944,0.455646,0.384681,48.555437,35.872396,21.968729,35.661208,1.729689,183.150144,804.870299,422.336301,0.0
4,2023,5,5,52.673167,4.675542,0.458521,0.442660,52.817632,41.230729,21.668757,42.649750,1.900280,137.419527,805.930109,449.436559,0.2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        315 non-null    int64
 1   Month       315 non-null    int64
 2   Day         315 non-null    int64
 3   O3          315 non-null    float64
 4   NO2         315 non-null    float64
 5   NO          315 non-null    float64
 6   CO          315 non-null    float64
 7   PM10        315 non-null    float64
 8   PM2.5       315 non-null    float64
 9   Temp_Avg    315 non-null    float64
 10  RH_Avg      315 non-null    float64
 11  WSpeed_Avg  315 non-null    float64
 12  WDir_Avg    315 non-null    float64
 13  Press_Avg   315 non-null    float64
 14  Rad_Avg     315 non-null    float64
 15  Rain_Tot    315 non-null    float64
dtypes: float64(13), int64(3)
memory usage: 39.5 KB

In [6]:
df.columns

Index(['Year', 'Month', 'Day', 'O3', 'NO2', 'NO', 'CO', 'PM10', 'PM2.5',
       'Temp_Avg', 'RH_Avg', 'WSpeed_Avg', 'WDir_Avg', 'Press_Avg', 'Rad_Avg',
       'Rain_Tot'],
      dtype='object')

In [7]:
df[['O3', 'NO2', 'NO', 'CO', 'PM10', 'PM2.5', 'Temp_Avg', 'RH_Avg', 'WSpeed_Avg', 'WDir_Avg', 'Press_Avg', 'Rad_Avg', 'Rain_Tot']].describe()

,O3,NO2,NO,CO,PM10,PM2.5,Temp_Avg,RH_Avg,WSpeed_Avg,WDir_Avg,Press_Avg,Rad_Avg,Rain_Tot
count,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000
mean,34.047492,4.836740,0.838165,0.331025,24.514983,17.477252,18.294769,60.798955,1.548919,144.603674,805.828288,468.145567,1.455556
std,10.050266,2.000208,0.678015,0.103716,10.929539,7.859164,2.976098,16.052289,0.552191,31.671427,1.418917,121.988536,4.124742
min,10.572918,1.508506,0.200000,0.050701,4.097292,4.305268,10.062363,23.385000,0.342468,63.381358,800.742999,0.046000,0.000000
25%,26.026326,3.314024,0.406944,0.275365,15.785981,11.461674,16.399899,46.354483,1.163608,124.487697,804.920866,392.452339,0.000000
50%,33.601257,4.547486,0.638007,0.331368,21.819457,16.138854,18.579146,64.639333,1.491362,146.527169,805.754240,483.861044,0.000000
75%,41.751736,5.874927,1.046451,0.396208,32.431113,22.416757,19.960997,74.170345,1.922570,165.320135,806.733141,567.486220,0.300000
max,61.173903,12.134569,5.787958,0.624701,52.817632,43.092472,24.625861,92.781181,3.480976,272.037403,810.358451,660.395754,41.700000

In [8]:
def fisher(variable: pd.Series) -> float:
    numerator = sum((variable - variable.mean())**3)
    denominator = variable.shape[0] * (variable.std()**3)    
    return numerator / denominator

In [9]:
variables = ['O3', 'NO2', 'NO', 'CO', 'PM10', 'PM2.5', 'Temp_Avg', 'RH_Avg', 'WSpeed_Avg', 'WDir_Avg', 'Press_Avg', 'Rad_Avg', 'Rain_Tot']

In [18]:
print("Skewness")
for c in variables: print(f"{c:<15} {round(fisher(df[c]), 2):<10}")

Skewness
O3              0.07
NO2             0.91
NO              2.68
CO              -0.11
PM10            0.46
PM2.5           0.69
Temp_Avg        -0.11
RH_Avg          -0.38
WSpeed_Avg      0.64
WDir_Avg        0.16
Press_Avg       0.05
Rad_Avg         -0.75
Rain_Tot        5.02