Let's create the samples that we need for the hypothesis about O3 concentration during the solar radiation.

- H0: mean(O3_high_radiation) <= mean(O3_low_radiation)
- H1: mean(O3_high_radiation) > mean(O3_low_radiation)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PATH = "../../../DataCleaning/"

In [3]:
df = pd.read_csv(PATH + "Atmospheric Data With No Missing Values.csv")

In [4]:
df.head()

,O3,O3_flag,NO2,NO2_flag,NO,NO_flag,CO,CO_flag,PM10,PM10_flag,...,WDir_Avg,WDir_SD,Rain_Tot,Press_Avg,Rad_Avg,Year,Month,Day,Hour,Minute
0,55.48,OK,0.72,OK,0.2,BDL,0.25,OK,25.47,OK,...,173.6,14.26,0.0,805.409,NaN,2023,5,1,0,0
1,55.49,OK,0.81,OK,0.2,BDL,0.26,OK,25.74,OK,...,171.0,10.53,0.0,805.524,NaN,2023,5,1,0,1
2,55.40,OK,0.93,OK,0.2,BDL,0.27,OK,26.60,OK,...,178.6,15.72,0.0,805.436,NaN,2023,5,1,0,2
3,55.20,OK,0.87,OK,0.2,BDL,0.28,OK,27.59,OK,...,186.1,17.43,0.0,805.450,NaN,2023,5,1,0,3
4,55.41,OK,0.98,OK,0.2,BDL,0.28,OK,27.83,OK,...,211.5,21.67,0.0,805.504,NaN,2023,5,1,0,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443508 entries, 0 to 443507
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   O3          443508 non-null  float64
 1   O3_flag     443508 non-null  object
 2   NO2         443508 non-null  float64
 3   NO2_flag    443508 non-null  object
 4   NO          443508 non-null  float64
 5   NO_flag     443508 non-null  object
 6   CO          443508 non-null  float64
 7   CO_flag     443508 non-null  object
 8   PM10        443508 non-null  float64
 9   PM10_flag   443508 non-null  object
 10  PM2.5       443508 non-null  float64
 11  PM2.5_flag  443508 non-null  object
 12  Temp_Avg    443508 non-null  float64
 13  RH_Avg      443508 non-null  float64
 14  WSpeed_Avg  443508 non-null  float64
 15  WSpeed_Max  443508 non-null  float64
 16  WDir_Avg    443508 non-null  float64
 17  WDir_SD     443508 non-null  float64
 18  Rain_Tot    443508 non-null  float64
 19  Press_Avg   443508 non-null  float64
 20  Rad_Avg     232948 non-null  float64
 21  Year        443508 non-null  int64
 22  Month       443508 non-null  int64
 23  Day         443508 non-null  int64
 24  Hour        443508 non-null  int64
 25  Minute      443508 non-null  int64
dtypes: float64(15), int64(5), object(6)
memory usage: 88.0+ MB

In [6]:
df["Rad_Avg"].describe()

count    232948.000000
mean        471.904539
std         366.849129
min           0.046000
25%         130.100000
50%         404.500000
75%         807.000000
max        1439.000000
Name: Rad_Avg, dtype: float64

In [14]:
df_high_radiation = df[(df["Hour"] >= 11) & (df["Hour"] <= 16)]
df_low_radiation = df[(df["Hour"] < 11) | (df["Hour"] > 16)]

In [15]:
df_high_radiation.to_csv("high_radiation.csv", index=False)
df_low_radiation.to_csv("low_radiation.csv", index=False)